<!doctype html>
<html ng-app="myApp">
<head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>-->
    <script src="../lib/angular.min.js"></script>
    <style>
        #parentCtrl {
            background-color: yellow;
            padding: 10px;
        }
        #childCtrl {
            background-color: green;
            padding: 10px;
        }
    </style>
</head>
<body>
<div >
    <p>We can access: {{ rootProperty }}</p>
    <div id="parentCtrl" ng-init="rootProperty='another parent scope'" ng-controller="ParentCtrl">
        <p>We can access: {{ rootProperty }} and {{ parentProperty }}</p>
        <div id="childCtrl" ng-controller="ChildCtrl">
            <p>
                We can access:
                {{ rootProperty }} and
                {{ parentProperty }} and
                {{ childProperty }}
            </p>
            <p>{{ fullSentenceFromChild }}</p>
        </div>
    </div>
</div>
<div>
    <label>someProperty = {{someProperty}}</label>
    <input type="checkbox"
           ng-checked="someProperty"
           ng-init="someProperty = true"
           ng-model="someProperty">
    <label>someProperty = {{anotherProperty}}</label>
    <input type="checkbox"
           ng-checked="anotherProperty"
           ng-init="anotherProperty = false"
           ng-model="anotherProperty">
</div>
<script>
    angular.module('myApp', [])
        .run(function($rootScope) {
            // use .run to access $rootScope
            $rootScope.rootProperty = 'root scope';
        })
        .controller('ParentCtrl', function($scope) {
            // use .controller to access properties inside `ng-controller`
            // in the DOM omit $scope, it is inferred based on the current controller
            $scope.parentProperty = 'parent scope';
        })
        .controller('ChildCtrl', function($scope, $rootScope) {
            $scope.childProperty = 'child scope';
            // just like in the DOM, we can access any of the properties in the
            // prototype chain directly from the current $scope
            $scope.fullSentenceFromChild = 'Same $scope: We can access: ' +
                $rootScope.rootProperty + ' and ' +
                $scope.parentProperty + ' and ' +
                $scope.childProperty
        });
    angular.module("anotherApp", []);
</script>

</body>
</html>